@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sora:wght@100..800&display=swap');
*{
 scroll-behavior: smooth;
}
body{
    margin: 0;
    padding:0;
}

html {
  scrollbar-width:thin; 
  scrollbar-color:  #facc15 #111; 
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

html::-webkit-scrollbar-track {
  background: #111; 
}

html::-webkit-scrollbar-thumb {
  background: #d4af37; 
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #b58920; 
}

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield; /* For Firefox */
  }

  /* Footer refinements */
footer {
  background-color: #000; /* dark background */
  color: #fff;
  position: relative;
}

/* Contact block alignment */
.contact-block {
  max-width: 500px;
  margin: 0 auto;
}

/* Social Icons */
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  color: #fff;
}
::selection{
  color: #fbbf24;
  background-color: whitesmoke;
}
.social-icon:hover {
  background-color: #dca22a;
  color: #000;
  transform: translateY(-2px);
  box-shadow: 0 0 10px rgba(220, 162, 42, 0.6);
}


/* fonts */
.headingfont{
  font-family: "Orbitron", sans-serif;}
.basicfont{
  font-family: 'Sora', sans-serif;}

 @media (max-width:1440px){
  html{
    font-size: 15px;
  }
   html nav .nav-link {
        font-size: 1.01rem;
      }
} 


@media (max-width:769px){
  html{
    font-size: 13px;
  }
}
@media (max-width:430px){
  html{
    font-size: 12px;
  }
}
@media (max-width:375px){
  html{
    font-size: 10px;
  }
}

@media (max-width:320px){
  html{
    font-size: 10px;
  }
}

  @media (min-width: 800px) and (max-width: 1440px) {
      nav .nav-link {
        font-size: 0.9rem;
      }
      nav span {
        font-size: 20px;
      }
      nav .container {
        padding-left: 10px;
        padding-right: 10px;
      }
      nav .hidden.md\:flex {
        gap: 10px;
      }
      nav a.bg-yellow-500 {
        font-size: 14px;
      }
    }

/* Gradient text hero*/
    .gradient-text {
      background: linear-gradient(90deg, #facc15, #f59e0b);
    background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }



